@import 'variables';

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;

  p {
    margin: 0;
    padding: 0.5em 1em;
    font-size: 0.75em;
    text-align: center;
    color: $color-light-grey;
  }
}
