
/* Color */
$color-grey: #757575;
$color-light-grey: #bdbdbd;
$color-ultra-light-grey: #f5f5f5c7;
$color-blue-grey: #0277bd;
$color-blue-sky: #58a5f0;
$color-dark-blue: #58a5f0;

$primary-color: $color-blue-grey;
$primary-light-color: $color-blue-sky;
$primary-dark-color: $color-dark-blue;

/* Text */
$text-color-light: white;
$text-color-dark: black;

/* Others */
$nb-header-links: 4;

/* Functions */
@function shadowof($color) {
  @return change-color(darken($color, 20), $alpha: 0.25);
}
